.page-detail{
    .product-detail{
        padding: 60px 0 36px 16.7%;
        background-color: #f5f5f5;
        min-height: 930px;
        @media (max-width: 768px) {
            min-height: 568px;
            padding: 50px 15px;
        }
        /* 中等屏幕（桌面显示器，大于等于 992px） */

        @media (min-width: 992px) {
            padding-left: 5%;
        }

        /* 大屏幕（大桌面显示器，大于等于 1200px） */

        @media (min-width: 1500px) {
            padding-left: 16.7%;
        }
        .pro-de-left{
            position: absolute;
            top: 50%;
            left: 16.7%;
            font-size: 14px;
            color: #929292;
            width: 40%;
            max-width: 500px;
            animation: translateLight .4s ease-out .1s ;
            animation-fill-mode:forwards;
            transform: translate(-100%,-50%);
            /* 中等屏幕（桌面显示器，大于等于 992px） */

            @media (min-width: 992px) {
                left: 5%;
            }

            /* 大屏幕（大桌面显示器，大于等于 1200px） */

            @media (min-width: 1500px) {
                left: 16.7%;
            }
            @media (max-width: 768px) {
                position: static;
                width: 100%;
                margin-top: 30px;
                animation:none;
                opacity: 1;
                transform: translate(0,0);
            }
            h1{
                font-size: 34px;
                color: #323232;
                @media (max-width: 768px) {
                    font-size: 28px;
                }
            }
            h2{
                font-size: 18px;
                margin-bottom: 35px;
            }
            .product-size{
                font-size: 14px;
                margin-bottom: 35px;
            }
            .product-des{
                margin-bottom: 60px;
                max-height: 250px;
                overflow: hidden;
                h4{
                    font-size: 16px;
                }
            }
            .product-buy{
                display: inline-block;
                padding: 0 40px;
                border-radius: 999px;
                line-height: 40px;
                font-size: 16px;
                color: #333;
                border: 1px solid #929292;
                transition: all .3s;
                &:hover{
                    color: #fff;
                    border-color: #fcc800;
                    background-color: #fcc800;
                }
            }
        }
        .share-d{
            position: absolute;
            left: 16.7%;
            bottom: 36px;
            color: #929292;
            line-height: 1;
            margin-left: -20px;
            .ls{
                position: relative;
                float: left;
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                padding: 1px 20px;
                & + .ls{
                    border-left: 1px solid #e5e5e5;
                } 
                .share-ct{
                    position: absolute;
                    bottom: 15px;
                    padding: 5px 0;
                    left: -20px;
                    width: 86px;
                    border: 1px solid #f2f2f2;
                    box-shadow: 0px 0px 20px rgba(0,0,0,.1);
                    border-radius: 3px;
                    background-color: #fff;
                    display: none;
                }
                &:last-child:hover{
                    .share-ct{
                        display: block;
                    }
                }
                &:hover{
                    background-color: transparent !important;
                    &.icon-weibo{
                        color: #c3123b;
                    }
                    &.icon-wechat{
                        color: #2fb011;
                    }
                    &.icon-qzone{
                        color:  #008ef6;
                    }
                }
            }
            a{
                color: #323232;
                
            }
        }
        .pro-de-right{
            position: absolute;
            top: 50%;
            right: 10px;
            max-width: 800px;
            max-height: 800px;
            animation: translateRight .3s ease-out .2s ;
            animation-fill-mode:forwards;
            transform: translate(100%,-50%);
            @media (max-width: 768px) {
                position: static;
                right: auto;
                bottom: auto;
                width: 100%;
                animation:none;
                transform: translate(0,0);
            }
        }
    }
    @keyframes translateRight
    {
        from {
            opacity: 0;
            transform: translate(100%,-50%);
        }
        to {
            opacity: 1;
            transform: translate(0,-50%);
        }
    }
    @keyframes translateLight
    {
        from {
            opacity: 0;
            transform: translate(-100%,-50%);
        }
        to {
            opacity: 1;
            transform: translate(0,-50%);
        }
    }
    .product-place{
        img{
            max-width: 100%;
        }
    }
    .float-two{
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
            & + .float-two{
                margin-top: 15px;
            }
            
        }
    }
    .pages-con{
        margin: 20px 0;
        font-size: 14px;
        color: #a3a3a3;
        line-height: 50px;
        transition: all .3s;
        a{
            color: #a3a3a3;
            &:hover{
                color: #666;
            }
        }
        @media (max-width: 768px) {
            .dib{
                display: block;
                margin: 0 auto;
            }
            .two{
                display: block !important;
                a:nth-child(1){
                    display: none;
                }
                a:nth-child(3){
                    display: none;
                }
            }
            .one{
                display: none !important;
            }

        }
        .pg-lt{
            max-width: 330px;
        }
        .pg-rt{
            max-width: 330px;
        }
        .pg-ct{
            cursor: pointer;
            width: 170px;
        }
        .two{
            display: none;
        }
        &.active{
            background-color: #929292;
            color: #fff;
            .two{
                display: block;
            }
            .one{
                display: none;
            }
            a{
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    .img-responsive{
        width: 100%;
    }
    .relevant-pro{
        padding-top: 80px;
        padding-bottom: 80px;
        @media (max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        h5{
            font-size: 16px;
            color: #777;
            font-weight: normal;
            margin-bottom: 25px;
            @media (max-width: 768px) {
                width: 100%;
                padding-left: 15px;
            }
        }
    }
    .content-section{
        @media (max-width: 768px) {
            margin-top: 15px;
        }
    }
    .detail-navbar{
        border: 0;
        background-color: #fff;
        border-radius: 0;
        margin-bottom: 0;
        padding: 5px 0;
        display: none;
        // margin-top: -60px;
        &.affix{
            display: block;
            margin-top: 0;
        }
        .navbar-brand{
            font-size: 24px;
            color: #333;
        }
        .navbar-right{
            li + li{
                margin-left: 5px;
            }
        }
        .pay-btn{
            display: inline-block;
            padding: .5em 2em;
            border-radius: 899px;
            background-color: #fcc800;
            color: #fff;
            margin-top: 8px;
            @media (max-width: 768px) {
                text-align: center;
                padding: .7em 2em;
                display: block;
                margin: 0 10px;
            }
            &:hover,&:focus{
                color: #fff;
                background-color: #fcc800;
            }
        }
    }
    .affix {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10000;
        display: block;
        @media (max-width: 768px) {
            top: auto;
            bottom: 0;
        }
    }
    .grandmaster{
        .swiper-button-white{
          line-height: 44px;
          .iconfont{
            font-size: 36px;
          }
          background-image: none;
          color: #999;
          opacity: 0;
          transition: all .3s;
        }
        &:hover{
          .swiper-button-white{
            opacity: 1;
          }
        }
      }
      .swiper-pagination-bullet-active{
        background-color: #fcc800;
      }
}