.page-detail{
    .product-detail{
        padding: 6% 0 36px 16.7%;
        background-color: #f5f5f5;
        @media (max-width: 1300px) {
            padding-top: 3%;
        }
        @media (max-width: 768px) {
            padding: 50px 15px;
        }
        .pro-de-left{
            font-size: 14px;
            color: #929292;
            width: 40%;
            max-width: 500px;
            @media (max-width: 768px) {
                width: 100%;
            }
            h1{
                font-size: 34px;
                font-weight: normal;
                margin-top: 26%;
                color: #323232;
                @media (max-width: 768px) {
                    font-size: 28px;
                }
            }
            h2{
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 35px;
            }
            .product-size{
                font-size: 14px;
                margin-bottom: 35px;
            }
            .product-des{
                margin-bottom: 60px;
                h4{
                    font-size: 16px;
                    font-weight: normal;
                }
            }
            .product-buy{
                display: inline-block;
                padding: 0 40px;
                border-radius: 999px;
                line-height: 40px;
                font-size: 16px;
                color: #333;
                border: 1px solid #929292;
                transition: all .3s;
                &:hover{
                    color: #fff;
                    border-color: #fcc800;
                    background-color: #fcc800;
                }
            }
            .share-d{
                margin-top: 42%;
                color: #929292;
                line-height: 1;
                .ls{
                    display: inline-block;
                    vertical-align: middle;
                    padding: 1px 20px;
                    & + .ls{
                        border-left: 1px solid #e5e5e5;
                    } 
                }
                a{
                    color: #323232;
                    &:hover{
                        .icon-tubiao214{
                            color: #c3123b;
                        }
                        .icon-weixin{
                            color: #2fb011;
                        }
                        .icon-qqkongjian{
                            color:  #008ef6;
                        }
                    }
                }
            }
        }
        .pro-de-right{
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 45.57%;
            max-width: 875px;
            max-height: 812px;
            @media (max-width: 768px) {
                position: static;
                right: auto;
                bottom: auto;
                width: 100%;
            }
        }
    }
    .product-place{
        img{
            max-width: 100%;
        }
    }
    .float-two{
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .pages-con{
        margin: 20px 0;
        font-size: 14px;
        color: #a3a3a3;
        line-height: 50px;
        transition: all .3s;
        a{
            color: #a3a3a3;
            &:hover{
                color: #666;
            }
        }
        @media (max-width: 768px) {
            .dib{
                display: block;
                margin: 0 auto;
            }
            .two{
                display: block !important;
                a:nth-child(1){
                    display: none;
                }
                a:nth-child(3){
                    display: none;
                }
            }
            .one{
                display: none !important;
            }

        }
        .pg-lt{
            max-width: 330px;
        }
        .pg-rt{
            max-width: 330px;
        }
        .pg-ct{
            cursor: pointer;
            width: 170px;
        }
        .two{
            display: none;
        }
        &.active{
            background-color: #929292;
            color: #fff;
            .two{
                display: block;
            }
            .one{
                display: none;
            }
            a{
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    .img-responsive{
        width: 100%;
    }
    .relevant-pro{
        padding-top: 80px;
        padding-bottom: 80px;
        @media (max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        h5{
            font-size: 16px;
            color: #777;
            font-weight: normal;
            margin-bottom: 25px;
            @media (max-width: 768px) {
                width: 100%;
                padding-left: 15px;
            }
        }
    }
}