.page-home{
  .in-video{
    position: relative;
    margin-top: -80px;
    width: 100%;
    height: 500px;
    background-color: #f2f2f2;
    overflow: hidden;
  }
  .vidoelist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .video-mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, .5);
  }
  .palybut {
    display: block;
    height: 120px;
    width: 120px;
    text-decoration: none;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    left: 50%;
    position: absolute;
    background: url(../images/icon/play.png) no-repeat center;
    background-size: contain;
  }
  .grandmaster{
    .swiper-button-white{
      line-height: 44px;
      .iconfont{
        font-size: 36px;
      }
      background-image: none;
      color: #999;
      opacity: 0;
      transition: all .3s;
    }
    &:hover{
      .swiper-button-white{
        opacity: 1;
      }
    }
  }
  .swiper-pagination-bullet-active{
    background-color: #fcc800;
  }
  /* 广告板块 */
  .content-section {
    width: 100%;
    margin: 20px 0;
    @media (max-width: 768px) {
    }
  }
  .ys-n{
    height: 36px;
    line-height: 36px;
    text-align: center;
    img{
      display: inline-block;
      max-height: 36px;
    }
  }
  .diamond{
    padding:  0 10px;
    margin-bottom: 0;
    .row{
      margin: 0;
    }
    @media (max-width: 768px) {
      padding:  0;
      
    }
    .ism{
      width: 100%;
      margin-bottom: 20px;
    }
    .item{
      padding: 0 10px;
      @media (max-width: 768px) {
        padding:  0;
      }
      &:hover{
        .diamond-mask{
          opacity: 1;
          h4{
           transform: translateY(0);
          }
          p{
            transform: translateY(0);
          }
        }
      }
    }
    .diamond-mask{
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      bottom: 20px;
      transition: all .3s;
      opacity: 0;
      background: rgba(16, 65, 147, 0.8);
      text-align: center;
      color: #fff;
      @media (max-width: 768px) {
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
      h4{
        font-size: 3vw;
        margin-top: 30%;
        margin-bottom: 10px;
        transition: all .3s ease .1s;
        transform: translateY(-15px);
        @media (max-width: 768px) {
          font-size: 36px;
        }
      }
      p{
        transition: all .3s ease .1s;
        font-size: 1vw;
        transform: translateY(15px);
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

    }
  }
  /*系列产品*/
  .production-list{
    height: auto;
    overflow: hidden;
    background-color: #f2f2f2;
    .container-base {
      padding: 0 0 0 6.77% ;
    }
    .left{
      float: left;
      width: 398px;
    }
    .right{
      margin-left: 398px;
      padding: 30px 0 0 18px;
      .list-top{
        padding: 15px 0;
        border-bottom:  1px solid #c1c1c1;
        h4{
          font-size: 34px;
          color: #fcc800;
          letter-spacing: .8em;
          font-weight: normal;
        }
        p{
          margin-top: 10px;
          font-size: 28px;
          line-height: 1.2;
          color: #585858;
        }
      }
      .top-tabs{
        position: absolute;
        right: 0;
        bottom: -1px;
        padding-right: 6.77%;
        li{
          display: inline-block; 
          margin:  0 5px;
          font-size: 16px;
          border-bottom: 2px solid transparent;
          transition: all .3s;
          a{
            display: inline-block;
            padding: 10px;
            color: #323232;
          }
          &.active{
            border-color: #fcc800;
          }
          &:hover{
            border-color: #fcc800;
          }
        }
      }
      .in-list{
        position: relative;
        padding-top: 20px;
        padding-right: 6.77%;
        .swiper-container{
          width: 93.23%;
          max-width: 1150px;
          margin: 0;
        }
        .g-wt{
          max-width: 1150px;
        }
        .in-item{
          position: absolute;
          width: 100%;
          top: 20px;
          left: 0;
          color: #929292;
          background-color: #f2f2f2;
          opacity: 0;
          a{
            color: #929292;
            &:hover{
              color: #929292;
            }
          }
          &.active{
            opacity: 1;
            z-index: 1;
          }
          & .ab{
            padding-bottom: 30px;
            border-bottom: 1px dashed #929292;
          }
          & .ab>h2{
            margin: 18px 0 18px 0;
            font-size: 18px;
            color: #927152;
          }
          & .ab>p{
            font-size: 14px;
            margin-bottom: 5px;
           }
          & .ac{
            padding-top: 30px;
          }
          & .ac>h3{
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: bold;
          }
          & .ac>p{
            position: relative;
            text-indent: .5em;
            margin-bottom: 12px;
            font-size: 14px;
            padding-right: 30px;
            line-height: 1.5em;
            height:4.5em;
            overflow:hidden;
          }
          & .ac>p:before{
           content: '';
           position: absolute;
           top: 10px;
           left: 0;
           width: 5px;
           height: 5px;
           border-radius: 50%;
           background-color: #929292;
          }
          .n-btn{
            float: right;
            display: inline-block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background-color: #bebebe;
            color: #fff;
            margin-right: 10px;
            cursor: pointer;
            &:hover{
              background-color: #969696;
            }
          }
        }
      }
    }
    
  }
  .wap-pro-list{
    .w-title{
      padding: 60px 0 30px 0;
      text-align: center;
      h4{
        font-size: 24px;
        letter-spacing: .8em;
        color: #fcc800;
        text-indent: .8em;
        margin-bottom: 8px;
      }
      p{
        font-size: 25px;
      }
    }
    .w-item{
      p{
        margin: 14px 0 30px;
        font-size: 16px;
        color: #fcc800;
      }
    }
    .btn-warp{
      padding: 50px 20px;
      border-bottom: 5px solid #f2f2f2;
      .more-btn{
        display: block;
        background-color:#fcc800;
        border-radius: 90px; 
        font-size: 16px;
        line-height: 40px;
        height: 40px;
        color: #fff;
        text-align: center;
      }
    }
  }
  /* 底部导航 */
  .footer-nav {
    margin-top: 5%;
    margin-bottom: 2%;
    h4 {
      color: #fcc800;
      font-size: 30px;
      letter-spacing: 26px;
      font-family: "FangSong";
      margin-bottom: 0px;
      overflow: hidden;
    }
    h5 {
      margin-top: 10px;
      letter-spacing: 3px;
      margin-bottom: 50px;
      font-size: 32px;
      overflow: hidden;
    }
    ul {
      position: relative;
      font-size: 0;
      @media (min-width: 768px) {
        min-height: 170px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 1px;
        height:100%;
        background: #c2c2c2;
        z-index: 9;
      }
      &:after {
        content: '';
        position: absolute;
        top: -25px;
        left: -3px;
        width: 20px;
        height: 4px;
        background: #f51650;
        z-index: 9;
      }
      &.brand-list:after {
        background: #a170dc;
      }
      &.contact-list:after {
        background: #00d9cc;
      }
      li {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
          text-decoration: none;
          font-size: 14px;
          line-height: 2;
          color: #9b9b9b;
        }
      }
      a:hover {
        color: #5f5f5f;
      }
    }
    .news-list li {
      width: 49%;
      padding-right: 30px; 
      display: inline-block; 
    }
    .brand-list li {
      width:  49%;
      display: inline-block;
    }
    @media (max-width: 768px) {
      padding-bottom: 100px;
      .row{
        margin: 0;
      }
        .container-base{
          padding: 0 15px;
        }
        h5{
          text-align: center;
          font-size: 25px;
        }
        h4{
          text-align: center;
          margin-top: 50px;
          font-size: 24px;
          text-indent: 1em;
        }
        ul{
          padding-left: 30px;
        }
        ul:after{
          left: 0px;
        }
        ul:before{
          left: 17px;
        }
      }
  }
}

