@charset "UTF-8";
.page-home {
  /* 广告板块 */
  /*系列产品*/
  /* 底部导航 */ }
  .page-home .in-video {
    position: relative;
    margin-top: -80px;
    width: 100%;
    height: 500px;
    background-color: #f2f2f2;
    overflow: hidden; }
  .page-home .vidoelist {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .page-home .video-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .page-home .palybut {
    display: block;
    height: 120px;
    width: 120px;
    text-decoration: none;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    left: 50%;
    position: absolute;
    background: url(../images/icon/play.png) no-repeat center;
    background-size: contain; }
  .page-home .swiper-pagination-bullet-active {
    background-color: #fcc800; }
  .page-home .content-section {
    width: 100%;
    margin: 20px 0; }
  .page-home .diamond {
    padding: 0 10px;
    margin-bottom: 0; }
    .page-home .diamond .row {
      margin: 0; }
    @media (max-width: 768px) {
      .page-home .diamond {
        padding: 0; } }
    .page-home .diamond .ism {
      width: 100%;
      margin-bottom: 20px; }
    .page-home .diamond .item {
      padding: 0 10px; }
      @media (max-width: 768px) {
        .page-home .diamond .item {
          padding: 0; } }
      .page-home .diamond .item:hover .diamond-mask {
        opacity: 1; }
        .page-home .diamond .item:hover .diamond-mask h4 {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
        .page-home .diamond .item:hover .diamond-mask p {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
    .page-home .diamond .diamond-mask {
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      bottom: 20px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      opacity: 0;
      background: rgba(16, 65, 147, 0.8);
      text-align: center;
      color: #fff; }
      @media (max-width: 768px) {
        .page-home .diamond .diamond-mask {
          left: 0px;
          right: 0px;
          bottom: 0px; } }
      .page-home .diamond .diamond-mask h4 {
        font-size: 3vw;
        margin-top: 30%;
        margin-bottom: 10px;
        -webkit-transition: all .3s ease .1s;
        -o-transition: all .3s ease .1s;
        transition: all .3s ease .1s;
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px); }
        @media (max-width: 768px) {
          .page-home .diamond .diamond-mask h4 {
            font-size: 36px; } }
      .page-home .diamond .diamond-mask p {
        -webkit-transition: all .3s ease .1s;
        -o-transition: all .3s ease .1s;
        transition: all .3s ease .1s;
        font-size: 1vw;
        -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
        transform: translateY(15px); }
        @media (max-width: 768px) {
          .page-home .diamond .diamond-mask p {
            font-size: 16px; } }
  .page-home .production-list {
    height: auto;
    overflow: hidden;
    background-color: #f2f2f2; }
    .page-home .production-list .left {
      float: left;
      width: 398px; }
    .page-home .production-list .right {
      margin-left: 398px; }
  .page-home .footer-nav {
    margin-top: 5%;
    margin-bottom: 2%; }
    .page-home .footer-nav h4 {
      color: #fcc800;
      font-size: 30px;
      letter-spacing: 26px;
      font-family: "FangSong";
      margin-bottom: 0px;
      overflow: hidden; }
    .page-home .footer-nav h5 {
      margin-top: 10px;
      letter-spacing: 3px;
      margin-bottom: 50px;
      font-size: 32px;
      overflow: hidden; }
    .page-home .footer-nav ul {
      position: relative;
      font-size: 0; }
      .page-home .footer-nav ul:before {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 1px;
        height: 100%;
        background: #c2c2c2;
        z-index: 9; }
      .page-home .footer-nav ul:after {
        content: '';
        position: absolute;
        top: -25px;
        left: -3px;
        width: 20px;
        height: 4px;
        background: #f51650;
        z-index: 9; }
      .page-home .footer-nav ul.brand-list:after {
        background: #a170dc; }
      .page-home .footer-nav ul.contact-list:after {
        background: #00d9cc; }
      .page-home .footer-nav ul li {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; }
        .page-home .footer-nav ul li a {
          text-decoration: none;
          font-size: 14px;
          line-height: 2;
          color: #9b9b9b; }
      .page-home .footer-nav ul a:hover {
        color: #5f5f5f; }
    .page-home .footer-nav .news-list li {
      width: 49%;
      padding-right: 30px;
      display: inline-block; }
    .page-home .footer-nav .brand-list li {
      width: 49%;
      display: inline-block; }
    @media (max-width: 768px) {
      .page-home .footer-nav {
        padding-bottom: 100px; }
        .page-home .footer-nav .row {
          margin: 0; }
        .page-home .footer-nav .container-base {
          padding: 0 15px; }
        .page-home .footer-nav h5 {
          text-align: center;
          font-size: 28px; }
        .page-home .footer-nav h4 {
          text-align: center;
          margin-top: 50px;
          font-size: 28px;
          text-indent: 1em; }
        .page-home .footer-nav ul {
          padding-left: 30px; }
        .page-home .footer-nav ul:after {
          left: 0px; }
        .page-home .footer-nav ul:before {
          left: 17px; } }
