img{
  max-width: 100%;
}
a:hover {
  text-decoration: none;
}
.vidoelist {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
.swiper-pagination-bullet-active{
  background-color: #fcc800;
}
/* 导航样式 */
.navbar-default {
  z-index: 1;
  border: 0;
  background-color: #ffffff;
  margin-bottom: 0;
  border-radius: 0!important;
}
.navbar-default .container {
  position: relative;
}
.navbar-brand {
  padding: 0;
}
.navbar-right {
  margin-right: 10px;
}
.navbar-brand img {
  display: inline-block;
  width: 90%;
  max-width: 160px;
}
.container-fluid.custom-ct{
  padding:15px 6.77%;
}
.container-fluid.my-ct-ws{
  padding:0 6.77%;
}
.navbar-nav>li>a{
  padding: 10px 15px;
  margin: 5px 0;
  transition: background .3s;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #fff;
  background: #fcc800;
}
.dropdown-menu .divider{
  margin:5px 0;
}
.navbar-nav.an-nav>li>a:hover{
  background: #fcc800;
  color: #fff;
}
.navbar-nav.an-nav>li.last>a:hover{
  background: #fff;
  color: #fcc800;
}
.navbar-nav.an-nav li a:hover{
  background: #fcc800;
  color: #fff;
}
.navbar-nav.an-nav li.last a:hover{
  background: #fff;
  color: #fcc800;
}
.an-head-search {
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer;
  z-index: 9;
  background-color: #ffffff;
  vertical-align: middle;
  height: 32px;
  padding-right: 18px;
}
.an-head-search input {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 5px 3px;
  outline: none;
  display: none;
  vertical-align: middle;
}
.an-head-search .glyphicon {
  color: #727171;
  position: absolute;
  top: 7px;
  right: 20;
  vertical-align: middle;
}
.an-head-search .glyphicon:hover {
  color: #fcc800;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-search {
  display: none;
}
/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  .navbar-search{
    display: block;
    position: absolute;
    left: 25px;
    top: 15px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
  }
  .navbar-search a{
    color: #888;
  }
  .navbar-default .navbar-brand {
    position: absolute;
    left: 50%;
    top: 15px;
    line-height: 50px;
    text-align: center;
    transform: translateX(-50%);
  }
  .navbar-nav.an-nav li.last{
    display: none;
  }
}
@media (min-width: 880px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
/* @media (min-width: @screen-md-min) { ... } */

/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* @media (min-width: @screen-lg-min) { ... } */


/* 底部 */
.footer .share-a{
  display: inline-block;
}
.footer .share-a img{
  width: 40px;
}
.footer-logo {
  max-width: 272px;
}
.footer-info {
  border-top: 1px solid #f1ecec;
  padding-top: 15px;
  margin-top: 12px;
}
.footer-info p {
  color: #929292;
  font-size: 10px;
  margin-bottom: 0px;
}
.footer-info p.last-cp{
  float: right;
  width: 207px;
  line-height: 1.3;
}
.footer-info p a {
  color: #929292;
}
.footer-info p a:hover {
  color: #5f5f5f;
}
/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  .footer-info{
    padding-top: 23px;
  }
  .footer-info p{
    margin: 24px 0;
  }
  .footer-info p.last-cp{
    float:none;
    margin: 0;
  }
}
/* 公共tabs */
.list-top {
  position: relative;
  border-bottom: 1px solid #c1c1c1;
}
.list-top h4 {
  color: #fcc800;
  margin-top: 40px;
  letter-spacing: 10px;
  font-weight: normal;
  font-size: 30px;
}
.list-top>p {
  font-size: 32px;
  color: #000000;
}
.list-top ul {
  position: absolute;
  bottom: -1px;
  right: 0;
  text-align: right;
}
.list-top ul li {
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.list-top ul>a {
  color: #000000;
  line-height: 40px;
}
.list-top ul li a {
  font-size: 16px;
  color: #000000;
}
.list-top ul li:hover {
  border-color: #fcc800;
}
.list-top ul li.active {
  border-color: #fcc800;
}
.production-right{
  padding: 0;
}
.breadcrumb {
  padding-left: 0;
  background: #ffffff;
}
.breadcrumb a {
  color: #5f5f5f;
}
.pt-container{
  padding-top: 25px;
  color: #929292;
}
.pt-container .slide{
  display: none;
}
.pt-container .slide .item{
  padding: 0 8px;
}
.pt-container .slide.active{
  display: block;
}
.pt-container .ab{
  padding-bottom: 30px;
  border-bottom: 1px dashed #929292;
}
.pt-container .ab>h2{
  margin: 18px 0 18px 0;
  font-size: 18px;
  color: #927152;
}
.pt-container .ab>p{
  font-size: 14px;
  margin-bottom: 5px;
 }
.pt-container .ac{
  padding-top: 30px;
}
.pt-container .ac>h3{
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}
.pt-container .ac>p{
  position: relative;
  text-indent: .5em;
  margin-bottom: 12px;
  font-size: 14px;
  padding-right: 30px;
}
.pt-container .ac>p:before{
 content: '';
 position: absolute;
 top: 10px;
 left: 0;
 width: 5px;
 height: 5px;
 border-radius: 50%;
 background-color: #929292;
}
/* 视频样式 */
.an-video {
  width: 100%;
  min-height: 500px;
  position: relative;
  padding-top: 80px;
  margin-top: -80px;
  z-index: 0;
}
.an-video .palybut {
  position: absolute;
  z-index: 1;
  top:50%;
  top:calc(50% + 80px);
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
  border: 10px solid #fcc800;
  border-radius: 999px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}
.an-video .palybut:after{
  content: '';
  display: inline-block;
  width:0;
  height:0;
  margin-top: 22px;
  margin-left: 9px;
  border-width:20px 0 20px 20px;
  border-style:solid;
  border-color:transparent transparent transparent #fcc800;/*透明 透明 透明 灰*/
}
.an-video-mask {
  width: 100%;
  height: 100%;
  background: url(../images/video-preload.jpg) center center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.vlistcont {
  position: relative;
}
.vlistcont .zahimg {
  display: block;
  width: 100%;
}
.vlistcont .vlistpage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vli-close{
  position: absolute;
  left: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  border-radius: 50%;
  background: url(../images/icon/close.png) center no-repeat;
  background-color: rgba(0, 0, 0, .5);
  background-size: 30%;
  bottom: -60px;
  margin-left: -22px;
}
/* 广告板块 */
.content-section {
  width: 100%;
  margin: 12px 0;
}
.grandmaster img{
  max-height: 800px;
}
.content-section.an-section1 {
  background: url(../images/banner1.jpg) center center no-repeat #fcc800;
  background-size: contain;
}

.diamond {
  margin-top: 12px;
  height: auto;
}
.diamond .row {
  padding: 0 6px;
}
.diamond .row>div {
  margin-bottom: 12px;
  padding: 0 6px;
}
.diamond .row>div a {
  position: relative;
  display: block;
  color: #ffffff;
}
.diamond .row>div a:hover .diamond-mask {
  display: block;
}
.diamond-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 65, 147, 0.8);
  text-align: center;
  padding-top: 30%;
}
.diamond-mask h4 {
  font-size: 38px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.diamond-mask p {
  font-size: 14px;
  letter-spacing: 5px;
}
/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  .diamond .row {
   padding: 0;
  }
  .diamond .row>div {
    padding: 0;
  }
}

/* 产品轮播 */


/* 底部导航 */
.footer-nav {
  margin-top: 5%;
  margin-bottom: 2%;
}
.footer-nav h4 {
  color: #fcc800;
  font-size: 30px;
  letter-spacing: 26px;
  font-family: "FangSong";
  margin-bottom: 0px;
}
.footer-nav h5 {
  margin-top: 10px;
  letter-spacing: 3px;
  margin-bottom: 40px;
  font-size: 32px;
}
.footer-nav ul {
  position: relative;
  font-size: 0;
}
.footer-nav ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height:100%;
  background: #c2c2c2;
  z-index: 9;
}
.footer-nav ul:after {
  content: '';
  position: absolute;
  top: -25px;
  left: -3px;
  width: 20px;
  height: 4px;
  background: #f51650;
  z-index: 9;
}
.footer-nav ul.brand-list:after {
  background: #a170dc;
}
.footer-nav ul.contact-list:after {
  background: #00d9cc;
}
.footer-nav ul li {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer-nav ul a {
  font-size: 14px;
  line-height: 1.8;
  color: #929292;
}
.footer-nav ul a:hover {
  color: #5f5f5f;
}
.footer-nav .news-list li {
  width: 49%;
  padding-right: 30px; 
  display: inline-block; 
}
.footer-nav .brand-list li {
  width:  49%;
  display: inline-block;
}
.footer-nav .contact-list li {
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  .footer-nav h5{
    text-align: center;
    font-size: 28px;
  }
  .footer-nav h4{
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    text-indent: 1em;
  }
  .footer-nav ul{
    padding-left: 16px;
  }
  .footer-nav ul:after{
    left: -9px;
  }
  .footer-nav ul:before{
    left: 8px;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
/* @media (min-width: @screen-md-min) { ... } */

/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* @media (min-width: @screen-lg-min) { ... } */

/* 系列产品 */
.production-list{
  background-color: #f2f2f2;
}
.production-list .zs{
  padding-left: 6.77%;
}
.pro-tisl{
  background-color: #fff;
  text-align: center;
  padding: 60px 0;
}
.pro-tisl h4 {
  color: #fcc800;
  letter-spacing: 10px;
  font-weight: normal;
  font-size: 30px;
}
.pro-tisl>p {
  font-size: 32px;
  color: #000000;
}
/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  .production-list .zs{
    padding:0;
  }
  .pt-container{
    padding-top: 0;
  }
  .pt-container .slide .item{
    padding: 0;
  }
  .production-right{
    padding: 0 15px;
  }
}
/* .list-content .list-top ul.top-tabs {
  position: relative;
  float: right;
} */
.list-content .list-top h1 {
  font-family: "FangSong";
  color: #fcc800;
  letter-spacing: 10px;
  font-weight: normal;
  font-size: 24px;
}
.list-content .list-top h4 {
  color: #000000;
  font-size: 16px;
  letter-spacing: 3px;
}
.product-list ul {
  padding: 20px 10px;
  list-style-type: none;
}
.product-list ul li {
  margin-bottom: 15px;
  padding: 0 5px;
}
.product-list ul li a {
  position: relative;
  display: block;
}
.product-list ul li:hover .product-hover {
  display: block;
}
.product-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  padding-top: 40%;
}
.product-hover h4 {
  font-size: 14px;
  color: #ffffff;
  margin: 2px auto;
}
.product-hover p {
  font-size: 10px;
  color: #ffffff;
}
.product-hover button {
  background: #fcc800;
  border: 0;
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 3px;
}

/*详情页 产品详情*/
.product-detail {
  background: #f5f5f5;
}
.pro-de-left {
  padding: 10%;
}
.pro-de-left h1 {
  font-size: 22px;
}
.pro-de-left h4 {
  font-size: 14px;
  color: #7d7d7d;
}
.pro-de-left p {
  margin-bottom: 0;
  font-size: 12px;
  color: #929292;
}
.pro-de-left .product-des {
  margin-bottom: 20px;
}
.pro-de-left .product-size {
  margin-top: 20px;
  margin-bottom: 40px;
}
.pro-de-left .product-buy a {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #111111;
  text-align: center;
  color: #111111;
}

.pro-de-right {
  padding: 1% 5%;
}

/* 广告板块 */
.content-section.two-ad {
  font-size: 0;
}
.content-section.two-ad .section-ad {
  width: 50%;
  display: inline-block;
}

/* 发源地 */
.product-place {
  text-align: center;
}
.product-place h2 {
  font-size: 30px;
  font-family: "宋体";
  color: #927152;
}
.product-place h3 {
  font-size: 28px;
  font-family: "宋体";
  color: #927152;
  margin-bottom: 20px;
}
.product-place ul {
  width: 50%;
  margin: 0 auto;
}
.product-place ul li {
  float: left;
  width: 30%;
  margin: 0 1.3%;
}
.product-place ul li h4 {
  font-size: 18px;
  color: #927152;
}
.product-place ul li p {
  text-align: left;
  font-size: 14px;
  color: #927152;
}

.pages-con {
  font-size: 0;
}
.pages-con p {
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
.pages-con p.prev {
  width: 45%;
}
.pages-con p.next {
  width: 45%;
}
.pages-con p.center {
  width: 10%;
}
.pages-con p a {
  color: #929292;
}
.pages-con p a:hover {
  color: #fcc800;
}


/*=========================新闻列表=============================*/
.news-list ul {
  padding: 2% 10%;
}
.news-list>ul>li {
  padding-bottom: 1.5%;
  margin-bottom: 1.5%;
  border-bottom: 1px solid #f7f3f3;
}
.news-list-left {
  width: 80%;
  float: left;
  padding-right: 2%;
}
.news-list-left h4 {
  font-size: 16px;
  color: #323232;
  line-height: 1.4;
}
.news-list-left p {
  font-size: 12px;
  color: #929292;
}
.news-list ul li:hover p.description {
  color: #fcc800;
}
.news-list-left p.description {
  display: block;
}
.news-list-right {
  width: 20%;
  float: right;
}
/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 768px) {
  .news-list ul {
    padding: 2% 0%;
  }
  .news-list-left p {
    margin-bottom: 0;
  }
  .news-list-left p.description {
    display: none;
  }
  .news-list-left h4 {
    font-size: 12px;
    margin: 0;
  }
}
.page {
  text-align: center;
}
.pagination>li {
  display: inline-block;
  margin: 0 5px;
  border-color: #aaaaaa;
}
.pagination>li.active, .pagination>li a:hover, .pagination>.active>a {
  border-color: #fcc800;
  background: #fcc800;
  color: #ffffff;
}
.pagination>li>a, .pagination>li>span {
  color: #aaaaaa;
  border-color: #aaaaaa;
}

/* 商品推荐 */
.recommend-product, .recommend-tag {
  padding: 0 10%;
  margin-bottom: 2%;
}
.recommend-title {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  font-size: 18px;
}
.recommend-title:after {
  position: absolute;
  top: 30px;
  left: 50%;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin-left: -30px;
  background: #929292;
}
.recommend-con a {
  width: 32%;
  display: block;
  float: left;
  margin-right: 2%;
}
.recommend-con a:last-child {
  margin-right: 0;
}
.recommend-tag .tags-con {
  text-align: center;
}
.recommend-tag .tags-con a {
  display: inline-block;
  color: #929292;
  font-size: 12px;
  padding: 3px 8px;
  margin: 0 2px;
  border-radius: 4px;
}
.recommend-tag .tags-con a.active, .recommend-tag .tags-con a:hover {
  background: #efefef;
}
@media (max-width: 768px) {
  .recommend-product, .recommend-tag {
    padding: 0;
  }
}


/*=========================新闻详情页=============================*/
.news-detail {
  padding: 0 10%;
  margin-bottom: 2%;
}
.article {
  margin-bottom: 2%;
}
.article .title {
  text-align: center;
  font-size: 18px;
}
.article .time {
  text-align: center;
  font-size: 12px;
  color: #929292;
  font-size: 12px;
  border-bottom: 1px solid #f7f3f3;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.article .time span {
  margin-left: 30px;
}
.article-detail p {
  font-size: 12px;
  color: #929292;
}
.article-detail img {
  width: 100%;
  margin-bottom: 10px;
}


/*=========================联系我们页=============================*/
.center-width {
  padding: 0 10%;
  /* background: #f8f8f8; */
}
.banner {
  background: #040404;
  height: 300px;
}
.banner img {
  height: 300px;
}
.contact-us {
  padding-top: 3%;
  text-align: center;
}
.contact-us h2 {
  font-size: 22px;
  color: #fcc800;
  letter-spacing: 10px;
  font-weight: normal;
  font-family: "宋体";
}
.contact-us h3 {
  margin-top: 10px;
  font-size: 18px;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
}
.contact-us>p {
  padding: 0 10%;
  font-size: 12px;
  color: #929292;
  margin-bottom: 3%;
}
.contact-us>h4 {
  font-size: 14px;
}
.contact-us>h5 {
  font-size: 10px;
}
/* .contact-list {
  padding-top: 20px;
} */
/* .contact-list li {
  list-style: none;
  float: left;
  width: 33.33%;
  position: relative;
}
.contact-list li i {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../images/adress.jpg) center center no-repeat;
  background-size: 100%;
  margin: 0 auto 15px;
}
.contact-list li.contact2 i {
  background-image: url(../images/cooperation.jpg);
}
.contact-list li.contact3 i {
  background-image: url(../images/time.jpg);
}
.contact-list li:last-child:after {
  width: 0px;
}
.contact-list li:after {
  content: "";
  display: block;
  width: 1px;
  height: 60%;
  background: #dbdbdb;
  bottom: 0;
  position: absolute;
  right: 0;
}
.contact-list li h4 {
  font-size: 14px;
}
.contact-list li p {
  font-size: 12px;
  color: #929292;
} */
.editor-des p {
  font-size: 12px;
  color: #929292;
}
.editor-des img {
  margin-bottom: 10px;
}


/*=========================网站地图页=============================*/
.site-map h2 {
  background: url(../images/wave-line.png) center center no-repeat;
  background-size: 100%;
  width: 30%;
  font-size: 18px;
  margin: 0 auto 2%;
  text-align: center;
  color: #323232;
}
.site-map ul {
  list-style: none;
}
.site-map ul li {
  margin-bottom: 2%;
}
.site-map ul h4 {
  font-size: 16px;
  font-family: "宋体";
  background: #f2f2f2;
  padding: 5px 0px 5px 10px;
}
.site-map ul a {
  font-size: 12px;
  color: #929292;
  margin-right: 20px;
}
.site-map ul p {
  padding-left: 20px;
  color: #929292;
}
.site-map ul strong {
  font-size: 12px;
  margin-right: 10px;
}
.site-map ul a:hover {
  color: #323232;
}
@media (max-width: 768px) {
  .site-map h2 {
    width: 100%;
  }
}


/*=========================404页=============================*/
.con-404 {
  width: 400px;
  margin: 0 auto;
}
.con-404 .not-tip {
  text-align: center;
  margin-bottom: 20px;
}
.con-404 img {
  margin-bottom: 5%;
}
.con-404 strong {
  color: #929292;
  font-weight: normal;
  margin-bottom: 15px;
  display: block;
  padding-left: 5%;
}
.con-404 .step {
  color: #929292;
  padding-left: 5%;
}
.con-404 a {
  display: inline-block;
  width: 110px;
  height: 30px;
  background: #d3bf96;
  border-radius: 15px;
  border: 0;
  color: #ffffff;
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
}


/*=========================搜索页=============================*/
.search-box {
  width: 80%;
  margin: 0 auto 5%;
  text-align: center;
  font-size: 0;
}
.search-box input {
  display: inline-block;
  font-size: 14px;
  height: 34px;
}
.search-box input.search-text {
  width: 400px;
  border: 1px solid #fcc800;
  box-shadow: 0 0 transparent;
}
.search-btn {
  border: 0;
  width: 46px;
  height: 34px;
  background: #fcc800;
  color: #ffffff;
}
.search-con {
  /* background: #f4f4f4; */
}
.search-list {
  padding-left: 0;
}
.search-list li {
  list-style-type: none;
  border-bottom: 1px solid #f3f3f3;
}
.search-list li h4 {
  font-size: 16px;
}
.search-list li .result-left {
  float: left;
  color: #323232;
}
.search-list li .result-left:hover {
  color: #fcc800;
}
.search-list li .result-right {
  float: right;
  font-size: 12px;
  color: #929292;
  font-style: normal;
}
.search-list li .result-right span {
  padding: 0 3px;
}
.search-list li p {
  color: #929292;
}
