.page-list .list-top {
  margin-top: 65px;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2; }
  .page-list .list-top h4 {
    font-size: 34px;
    color: #fcc800;
    letter-spacing: .8em;
    font-weight: normal; }
  .page-list .list-top p {
    margin-top: 10px;
    font-size: 28px;
    line-height: 1.2;
    color: #585858; }

.page-list .top-tabs {
  position: absolute;
  right: 0;
  bottom: -1px;
  padding-right: 6.77%; }
  .page-list .top-tabs li {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .page-list .top-tabs li a {
      display: inline-block;
      padding: 10px;
      color: #c2c2c2; }
    .page-list .top-tabs li.active {
      border-color: #fcc800; }
    .page-list .top-tabs li:hover {
      border-color: #fcc800; }

.page-list .wap-pro-list .w-title {
  padding: 60px 0 30px 0;
  text-align: center; }
  .page-list .wap-pro-list .w-title h4 {
    font-size: 24px;
    letter-spacing: .8em;
    color: #fcc800;
    text-indent: .8em;
    margin-bottom: 8px; }
  .page-list .wap-pro-list .w-title p {
    font-size: 25px; }

.page-list .wap-pro-list .w-item p {
  margin: 14px 0 30px;
  font-size: 16px;
  color: #fcc800; }

.page-list .wap-pro-list .btn-warp {
  padding: 50px 20px;
  border-bottom: 5px solid #f2f2f2; }
  .page-list .wap-pro-list .btn-warp .more-btn {
    display: block;
    background-color: #fcc800;
    border-radius: 90px;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    text-align: center; }

.page-list .empty {
  font-size: 20px;
  color: #666;
  padding: 10% 0 167px 0;
  text-align: center; }

.page-list .list-content {
  padding-top: 55px;
  padding-bottom: 150px; }
  .page-list .list-content .s-img {
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      .page-list .list-content .s-img {
        margin-bottom: 18px; } }
  .page-list .list-content a:hover .product-hover {
    opacity: 1; }
    .page-list .list-content a:hover .product-hover h4, .page-list .list-content a:hover .product-hover p, .page-list .list-content a:hover .product-hover button {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  .page-list .list-content h5 {
    font-size: 18px;
    color: #fcc800;
    margin-bottom: 20px; }
  .page-list .list-content .product-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 40%;
    opacity: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .page-list .list-content .product-hover h4 {
      font-size: 20px;
      color: #ffffff;
      margin: 2px auto;
      opacity: 0;
      -webkit-transition: all .3s ease .1s;
      -o-transition: all .3s ease .1s;
      transition: all .3s ease .1s;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px); }
    .page-list .list-content .product-hover p {
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px);
      font-size: 12px;
      color: #ffffff;
      opacity: 0;
      -webkit-transition: all .3s ease .1s;
      -o-transition: all .3s ease .1s;
      transition: all .3s ease .1s;
      margin-bottom: 18px; }
    .page-list .list-content .product-hover button {
      background: #fcc800;
      border: 0;
      color: #ffffff;
      padding: 2px 5px;
      width: 44px;
      height: 44px;
      font-size: 24px;
      border-radius: 3px;
      opacity: 0;
      -webkit-transition: all .3s ease .1s;
      -o-transition: all .3s ease .1s;
      transition: all .3s ease .1s;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px); }
