.page-n-list .list-top {
  margin-top: 65px;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2; }
  .page-n-list .list-top h4 {
    font-size: 34px;
    color: #fcc800;
    letter-spacing: .8em;
    font-weight: normal; }
  .page-n-list .list-top p {
    margin-top: 10px;
    font-size: 28px;
    line-height: 1.2;
    color: #585858; }

.page-n-list .top-tabs {
  position: absolute;
  right: 0;
  bottom: -1px;
  padding-right: 6.77%; }
  .page-n-list .top-tabs li {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .page-n-list .top-tabs li a {
      display: inline-block;
      padding: 10px;
      color: #a3a3a3; }
    .page-n-list .top-tabs li.active {
      border-color: #fcc800; }
    .page-n-list .top-tabs li:hover {
      border-color: #fcc800; }

.page-n-list .wap-pro-list .w-title {
  padding: 60px 0 30px 0;
  text-align: center; }
  .page-n-list .wap-pro-list .w-title h4 {
    font-size: 24px;
    letter-spacing: .8em;
    color: #fcc800;
    text-indent: .8em;
    margin-bottom: 8px; }
  .page-n-list .wap-pro-list .w-title p {
    font-size: 25px; }

.page-n-list .list-content {
  padding: 50px 0; }
  .page-n-list .list-content .container {
    min-height: 600px; }
  .page-n-list .list-content .ites {
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
    overflow: hidden; }
    .page-n-list .list-content .ites + .ites {
      border-top: 1px solid #f2f2f2; }
    .page-n-list .list-content .ites .bg-mark {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 45px;
      opacity: 0;
      -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
      transform: translateY(200%);
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
      background: -webkit-linear-gradient(top, #fff, #f2f2f2);
      background: -o-linear-gradient(top, #fff, #f2f2f2);
      background: linear-gradient(to bottom, #fff, #f2f2f2); }
    .page-n-list .list-content .ites:hover .news-list-left {
      -webkit-transform: translateX(5%);
      -ms-transform: translateX(5%);
      transform: translateX(5%); }
    .page-n-list .list-content .ites:hover .bg-mark {
      opacity: .8;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    .page-n-list .list-content .ites:hover .l-btn {
      opacity: 1; }
  @media (max-width: 768px) {
    .page-n-list .list-content .news-list-right {
      text-align: center; } }
  .page-n-list .list-content .news-list-left {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding-right: 5%; }
    .page-n-list .list-content .news-list-left .title {
      font-size: 16px;
      color: #6d6d6d; }
    .page-n-list .list-content .news-list-left .time {
      color: #a3a3a3; }
    .page-n-list .list-content .news-list-left .l-btn {
      display: inline-block;
      margin-top: 40px;
      min-width: 120px;
      line-height: 32px;
      text-align: center;
      background-color: #fcc800;
      color: #fff;
      opacity: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      @media (max-width: 768px) {
        .page-n-list .list-content .news-list-left .l-btn {
          display: none; } }
    .page-n-list .list-content .news-list-left .description {
      position: relative;
      line-height: 1.5em;
      /* 3 times the line-height to show 3 lines */
      height: 3em;
      overflow: hidden;
      color: #a3a3a3; }
      @media (max-width: 768px) {
        .page-n-list .list-content .news-list-left .description {
          margin-bottom: 40px; } }
      .page-n-list .list-content .news-list-left .description:after {
        content: "...";
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 20px 1px 45px;
        background: url(../images/icon/ellipsis_bg.png) repeat-y; }

.page-n-list .pagination > li > a, .page-n-list .pagination > li > span {
  color: #aaaaaa;
  margin: 0 10px; }

.page-n-list .pagination > li > a:focus, .page-n-list .pagination > li > a:hover, .page-n-list .pagination > li > span:focus, .page-n-list .pagination > li > span:hover {
  background-color: #fcc800;
  color: #fff;
  border-color: #fcc800; }

.page-n-list .jstitle {
  position: relative;
  width: 75px;
  margin: 100px auto 50px auto;
  font-size: 16px;
  text-align: center; }
  .page-n-list .jstitle:after {
    position: absolute;
    content: '';
    left: 50%;
    height: 3px;
    background-color: #929292;
    width: 70%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.page-n-list .tags-con {
  text-align: center;
  padding: 0 15px; }
  .page-n-list .tags-con a {
    display: inline-block;
    margin: 0 5px;
    color: #929292;
    line-height: 33px;
    border-radius: 3px;
    padding: 0 15px; }
    .page-n-list .tags-con a.active, .page-n-list .tags-con a:hover {
      background-color: #efefef; }

.page-n-list .recommend-tag {
  margin-bottom: 145px; }

.page-n-detail .bd1 {
  border-bottom: 1px solid #f2f2f2; }

.page-n-detail .news-detail {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 100px 0; }
  .page-n-detail .news-detail .article .title {
    font-size: 24px;
    text-align: center;
    padding: 0 15px; }
  .page-n-detail .news-detail .article .s-info {
    position: relative;
    padding: 20px 0  15px 0;
    border-bottom: 1px solid #e1e1e1;
    color: #a3a3a3; }
    .page-n-detail .news-detail .article .s-info .las {
      padding: 0 15px;
      line-height: 1; }
    .page-n-detail .news-detail .article .s-info .las + .las {
      border-left: 1px solid #e5e5e5; }

.page-n-detail .share-d {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: #929292;
  font-size: 12px;
  line-height: 1; }
  .page-n-detail .share-d .ls {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 20px; }
    .page-n-detail .share-d .ls + .ls {
      border-left: 1px solid #e5e5e5; }
  .page-n-detail .share-d a {
    color: #323232; }
    .page-n-detail .share-d a:hover .icon-tubiao214 {
      color: #c3123b; }
    .page-n-detail .share-d a:hover .icon-weixin {
      color: #2fb011; }
    .page-n-detail .share-d a:hover .icon-qqkongjian {
      color: #008ef6; }

.page-n-detail .pages-con {
  margin: 20px 0;
  font-size: 14px;
  color: #a3a3a3;
  line-height: 50px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .page-n-detail .pages-con a {
    color: #a3a3a3; }
    .page-n-detail .pages-con a:hover {
      color: #666; }
  @media (max-width: 768px) {
    .page-n-detail .pages-con .dib {
      display: block;
      margin: 0 auto; }
    .page-n-detail .pages-con .two {
      display: block !important; }
      .page-n-detail .pages-con .two a:nth-child(1) {
        display: none; }
      .page-n-detail .pages-con .two a:nth-child(3) {
        display: none; }
    .page-n-detail .pages-con .one {
      display: none !important; } }
  .page-n-detail .pages-con .pg-lt {
    max-width: 330px; }
  .page-n-detail .pages-con .pg-rt {
    max-width: 330px; }
  .page-n-detail .pages-con .pg-ct {
    cursor: pointer;
    width: 170px; }
  .page-n-detail .pages-con .two {
    display: none; }
  .page-n-detail .pages-con.active {
    background-color: #929292;
    color: #fff; }
    .page-n-detail .pages-con.active .two {
      display: block; }
    .page-n-detail .pages-con.active .one {
      display: none; }
    .page-n-detail .pages-con.active a {
      color: #fff; }
      .page-n-detail .pages-con.active a:hover {
        color: #fff; }

.page-n-detail .jstitle {
  position: relative;
  width: 75px;
  margin: 100px auto 50px auto;
  font-size: 16px;
  text-align: center; }
  .page-n-detail .jstitle:after {
    position: absolute;
    content: '';
    left: 50%;
    height: 3px;
    background-color: #929292;
    width: 70%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.page-n-detail .tags-con {
  text-align: center;
  padding: 0 15px; }
  .page-n-detail .tags-con a {
    display: inline-block;
    margin: 0 5px;
    color: #929292;
    line-height: 33px;
    border-radius: 3px;
    padding: 0 15px; }
    .page-n-detail .tags-con a.active, .page-n-detail .tags-con a:hover {
      background-color: #efefef; }

.page-n-detail .recommend-tag {
  margin-bottom: 145px; }

.page-n-detail .article-detail {
  padding: 40px 0; }
  .page-n-detail .article-detail img {
    max-width: 100%; }
